*.pyc
.ipynb_checkpoints
lib/build
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so

# caffemodel
*.caffemodel

# data
check/*
*.tgz

lib/dist/
lib/fast_rcnn.egg-info/

# editor
*.swp
*.swo
*.swn
*.swm

# log
log

# build
caffe-fast-rcnn/_build/
